---
import ExperienceItem from '@/components/ExperienceItem.astro';
import { getCollection } from 'astro:content';

const experiences = await getCollection('experiences');
---

<section class="bg-[hsl(350,_30%,_8%)] py-[4rem]">
	<div class="md:mx-auto md:max-w-4xl">
		<h2 class="text-7xl font-semibold text-primary-200 uppercase">
			Experiencia
		</h2>

		{
			experiences.map((experience) => (
				<ExperienceItem experience={experience} />
			))
		}
	</div>
</section>
