---
import { render } from 'astro:content';
import { Info, Link2 } from 'lucide-react';

const { experience } = Astro.props;
const { company, date, role, url } = experience.data;

const { Content } = await render(experience);
---

<article
	class="w-full py-6 mt-12 transition-all duration-300 border cursor-pointer show group motion-safe:hover:translate-x-2 border-white/10 text-text/70 hover:text-text/80 hover:bg-secondary-900/20"
>
	<div class="grid gap-10 p-10 md:grid-cols-2">
		<h3 class="text-4xl font-bold">{company}</h3>
		<div>
			<div class="flex items-center gap-4 mb-4">
				<h3 class="text-3xl font-bold">{role}</h3>
				<span>{date}</span>
			</div>
			<p class="text-xl prose text-text/70"><Content /></p>
			<div class="flex gap-4 mt-8">
				{
					url && (
						<a
							class="transition-all duration-300 bg-accent-600 border border-secondary-900/20 hover:border-text hover:bg-accent-600/80 btn text-[#28042f] motion-safe:md:group-hover:opacity-100 md:opacity-0 md:glow motion-reduce:md:opacity-100"
							href={url}
						>
							<Link2 className="size-6 -rotate-45" />
							<span class="sr-only">Visitar web</span>
						</a>
					)
				}
				<a
					class="transition-opacity border border-secondary-800 hover:bg-secondary-800 duration-200 btn text-text/60 md:text-primary-50 md:opacity-0 motion-safe:md:group-hover:opacity-100 md:glow motion-reduce:md:opacity-100"
				>
				<Info className="size-6" />
				<span class="sr-only">Más info</span>
			</a>
			</div>
		</div>
	</div>
</article>
<style is:global>
	.glow {
		text-shadow: #fc0 1px 0 10px;
	}

	@media (prefers-reduced-motion: no-preference) {
		@keyframes show {
			from {
				opacity: 0;
				scale: 50%;
			}
			to {
				opacity: 1;
				scale: 100%;
			}
		}
	}

	.show {
		view-timeline-name: --reveal;

		animation-name: show;
		animation-fill-mode: both;

		animation-timeline: --reveal;
		animation-range: entry 0% cover 45%;
	}
</style>
