---
import ExperienceItem from '@/components/ExperienceItem.astro';
import { getCollection } from 'astro:content';

const experiences = await getCollection('experiences');
---

<section
	class="bg-gradient-to-br from-gray-900 to-gray-900 via-purple-900/20 py-16"
	id="experience"
>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
		<h2 class="text-5xl md:text-7xl font-semibold text-primary-600 uppercase mb-12">
			Experiencia
		</h2>
		<div class="space-y-8">
			{
				experiences.map((experience) => (
					<ExperienceItem experience={experience} />
				))
			}
		</div>
	</div>
</section>
