---

---
<title>Tobias Napal - Desarrollador Full Stack</title>

<meta name="description" content="Portafolio de Tobias Napal, desarrollador Full Stack especializado en tecnologías web modernas como JavaScript, React, Node.js y más. Explora mis proyectos y habilidades." />
<meta name="keywords" content="Tobias Napal, desarrollador web, Full Stack, JavaScript, React, Node.js, portafolio, proyectos, habilidades" />
<meta name="author" content="Tobias Napal" />

<meta property="og:title" content="Tobias Napal - Desarrollador Full Stack" />
<meta property="og:description" content="Portafolio de Tobias Napal, desarrollador Full Stack especializado en tecnologías web modernas como JavaScript, React, Node.js y más. Explora mis proyectos y habilidades." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tobiasnapal.vercel.app" />
<meta property="og:image" content="https://tobiasnapal.vercel.app/og-image.png" />
