---

---
<section class="md:max-w-4xl mx-auto flex md:h-[90vh] min-h-screen">
	<header class="grid gap-8 items-center my-auto">
		<div class="space-y-4">
			<div class="flex flex-col gap-4">
				<div class="w-[100px]">
					<img
						src="/tobias-napal-picture.webp"
						alt="Foto de Tobias Napal"
						class="h-full object-cover"
					/>
				</div>
				<h1
					class="text-4xl md:text-6xl lg:text-7xl font-bold tracking-tight text-primary-400 uppercase"
				>
					Tobias Napal
				</h1>
			</div>
			<p class="text-xl md:text-2xl text-text/80 max-w-[600px]">
				+2 años de experiencia. <span class="text-secondary-400"
					>Desarrollador Full Stack</span
				> de San Carlos de Bariloche, Argentina. Especializado en desarrollo web
				de aplicaciones a medida
			</p>
		</div>
		<div class="flex gap-5">
			<a
				href="mailto:napaltobiasbs@gmail.com"
				class="btn bg-accent text-xl hover:bg-accent/70 text-bg">Contactar</a
			>
		</div>
	</header>
</section>
