---
import { ClientRouter } from 'astro:transitions';
import '@fontsource-variable/montserrat';
import '@fontsource/hind';

import { Navbar } from '@/components/Navbar.tsx';

import '../styles/global.css';
import Head from '@/components/Head.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<ClientRouter />
    <Head />
	</head>
	<body>
		<header
			class="fixed top-0 left-0 right-0 z-50 h-16 border-b border-primary/20 bg-bg/80 backdrop-blur-sm"
		>
			<div class="px-8 py-4 h-16">
				<Navbar />
			</div>
		</header>
		<slot />
	</body>
</html>
